body{
    background-color: black;
}
.maintext{
    text-align: center;
    color:white;

}
.maintext>h1{
    font-size: 100px;
    padding-top: 150px;
}
.maintext>h6{
    font-size: 30px;
}

.img123>img{
  width: 50%;
  padding-left: 25%;
  padding-top: 0%;
  text-align: center;
}
.navigation{
    display:flex;
    float: right;
    flex-direction: row;
    position: fixed;
    width: 95%;
    gap: 20px;
    justify-content: flex-end;
    

}
.navigation>a{
    color: black;
    font-size: 18px;
    text-decoration: none;
    padding: 6px;
    border: 1px solid rgb(105, 104, 104);
    border-radius: 5px;
    background-color: rgb(105, 104, 104);
    font-weight: bold;
    
}
.navigation>a:hover{
    background-color: rgb(146, 144, 144);
} 
