ul{
    list-style-type: upper-alpha;
    border:2px dotted palevioletred;
    color:fuchsia;
    font-family:cursive;
    list-style-image: url(./1.jpg) ;
    list-style-position: inside;
    margin:2px;

}
ul li{border:1px solid rgb(228, 175, 225)}
ol{
    list-style-type: upper-roman;
    border:2px dotted palevioletred;
    color:fuchsia;
    font-family:cursive;
    margin:2px;

}
ol li{border:1px solid purple}
table{ border:2px solid;

}
table tbody>tr:nth-child(odd){
 background-color:rgb(199, 217, 241);
color:black;
}
table tbody>tr:nth-child(even){
    background-color:rgb(180, 245, 223);
    color:black;
}
td,th {border:solid 2px ;}
div{ width: 300px;
height:180px;
background-color: rgb(236, 4, 178);
overflow-x:auto;}
