
        .slider-paragraph{
            border:2px solid darkgrey; 
            background-color: darkslategrey;
        padding: 20px;
        margin:30px;
        width: 200px;
    color: beige;}
    .zana{
        border: 2px solid darkmagenta;
         background-color: lightpink
        ;padding: 20px;
    margin-left: 300px;
width: 200px;
color: deeppink;}
.bg-img{ background: url(chris.webp);width: 50%; height: 50%;}
.border{
    border-width: 20px;
    border-style:inherit;
}
.border-solid{
    border:2px solid darkblue ;
    background-color: lightcyan;
    padding: 20px;
    margin:30px;
    margin-left: 600px;
    width: 200px;
color: black;}
.zana123{
    border: 2px dotted darkred;
    background-color: red;
    padding: 20px;
    margin:30px;
    width:200px;
    color: black;
}
.chris{
    height: 50%;
    width: 50%;
    display: left;
    
}

    