.textstyle{
    color: blueviolet;
    letter-spacing: 5px;
    word-spacing: 10px;
    text-decoration:dotted;
    text-align: center;
    font-family:'Cursive';
    font-size: 30px;
}
@font-face{ font-family:zanasfont;
src:url(./fonts/Parkinsans-Regular.ttf)}
.era{
font-family: "zanasfont";
color: crimson;
font-size: 16px;
font-weight: 300;
}
a{color:darkmagenta}
a:link{color:darkred}
a:visited{color: deeppink;}
a:hover{color: goldenrod;}
a:active{color: lightpink;}